{% extends 'base.html.twig' %}

{% block title %}New Meeting
{% endblock %}

{% block body %}
	<h1>Meeting with
		{{ customer.name }}</h1>

	{{ include('meeting/_form.html.twig') }}

	<a class="btn warning" href="{{ path('app_meeting.index') }}">back to list</a>
{% endblock %}
